<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>关于页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body style="background-image:url('/static/images/bkgd.jpg');background-size: cover;">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <h1 style="font-size: 44px;font-weight: bold;">校园COVID-19接触人员智能排查系统</h1>
            <br>
            <div style="width:40%;font-size: large;">
                <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本系统由曹昊天、肖鹏宇、袁鑫、兰焜耀合作开发</p>
            </div>
            <br>

            <div style="width:40%;font-size: large;">
                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2019年年末，新型冠状病毒的悄然肆虐给世界人们带来了不可估量的损失，实践证明，
                    对确诊患者及其密切接触者的早隔离早诊断，对于疫情防控具有重要的意义。
                    但在校园、社区等小范围内的排查工作，只能由社区工作人员以人工的方式完成，费时、费力，效率不高。
                </p>
            </div>
            <br>

            <div style="width:40%;font-size: large;">

                <p>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp针对这样的背景与需求，本课题针对<span
                        style="color: brown;font-weight: bolder;font-size: 20px;">换装行人的再识别</span>提出了<u><i>自研的创新性算法</i></u>，
                    并结合<u><i>改良后</i></u>的<span
                        style="color: brown;font-weight: bolder;font-size: 20px;">目标检测</span>、<span
                        style="color: brown;font-weight: bolder;font-size: 20px;">行人属性识别</span>、<span
                        style="color: brown;font-weight: bolder;font-size: 20px;">步态识别</span>等算法与图数据库等技术，
                    设计了一套校园COVID-19接触人员智能排查系统，
                    可以在确诊者出现之后帮助社区工作者完成密切接触者的快速排查与及时隔离
                </p>
            </div>

        </div>
    </div>
    </div>


</body>

</html>