<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<!-- 注意：这里需要和后端联动，传输数据库中已经存入的值-->

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>行人编号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="id" name="id" required="" autocomplete="off" class="layui-input"
                            value="1">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*行人编号为行人的唯一标识。请慎重改写</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>健康状态
                    </label>
                    <div class="layui-input-inline">
                        <input type="radio" name="health" id="confirmed" title="确诊患者"><br>
                        <input type="radio" name="health" id="suspected" title="密切接触者"><br>
                        <input type="radio" name="health" id="healthy" title="健康" checked>
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*这将影响行人的安全等级</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red">*</span>行人属性
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="feature" name="feature" required="" autocomplete="off"
                            class="layui-input" value="男性;30岁以下;上身休闲装;下身休闲装;未佩戴饰品">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">
                        提交修改
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>layui.use(['form', 'layer'],
            function () {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //监听提交
                form.on('submit(add)',
                    function (data) {
                        console.log(data);
                        //发异步，把数据提交给php
                        layer.alert("增加成功", {
                            icon: 6
                        },
                            function () {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新 
                                xadmin.father_reload();
                            });
                        return false;
                    });

            });
    </script>
</body>

</html>