<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>统计页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15" style="text-align: center;">
            <div style="display: inline-block;width:100%;">
                <video id="target_video" style="width: 700px;" onclick="detail()">
                    <source src="images/right_n.mp4" type="video/mp4">
                </video>
            </div>
            <div style="grid-template: repeat(2,1fr)/repeat(6,1fr);display: inline-block;">
                <video style="width: 220px;" autoplay>
                    <source src="images/right_n.mp4" type="video/mp4">
                </video>
                <video style="width: 220px;" autoplay>
                    <source src="images/right_n.mp4" type="video/mp4">
                </video>
                <video style="width: 220px;" autoplay>
                    <source src="images/right_n.mp4" type="video/mp4">
                </video>
                <video style="width: 220px;" autoplay>
                    <source src="images/right_n.mp4" type="video/mp4">
                </video>
                <video style="width: 220px;" autoplay>
                    <source src="images/right_n.mp4" type="video/mp4">
                </video>
				<video style="width: 220px;" autoplay>
				    <source src="images/right_n.mp4" type="video/mp4">
				</video>
				

                <input
                    style="width:80px;margin-left: 70px;margin-right: 70px;font-size: initial;height:25px;margin-top: 0px;"
                    type="button" value="监控点1" onclick="changeVideo('images/output_c1_1.mp4')">
                <input
                    style="width:80px;margin-left: 70px;margin-right: 70px;font-size: initial;height:25px;margin-top: 0px;"
                    type="button" value="监控点2" onclick="changeVideo('images/right_n.mp4')">
                <input
                    style="width:80px;margin-left: 70px;margin-right: 70px;font-size: initial;height:25px;margin-top: 0px;"
                    type="button" value="监控点3" onclick="changeVideo('images/output_c1_1.mp4')">
                <input
                    style="width:80px;margin-left: 70px;margin-right: 70px;font-size: initial;height:25px;margin-top: 0px;"
                    type="button" value="监控点4" onclick="changeVideo('images/output_c1_1.mp4')">
                <input
                    style="width:80px;margin-left: 70px;margin-right: 70px;font-size: initial;height:25px;margin-top: 0px;"
                    type="button" value="监控点5" onclick="changeVideo('images/output_c1_1.mp4')">
				<input
				    style="width:80px;margin-left: 70px;margin-right: 70px;font-size: initial;height:25px;margin-top: 0px;"
				    type="button" value="监控点6" onclick="changeVideo('images/output_c1_1.mp4')">
            </div>
            <!-- <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">监控点1</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div style="align-items: center;"
                            onclick="xadmin.open('详细信息','./video_detail.html?src=./images/center_n.mp4')">
                            <video width="90%" height="90%" autoplay>
                                <source src="./images/center_n.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">监控点2</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div style="align-items: center;"
                            onclick="xadmin.open('详细信息','./video_detail.html?src=./images/left_n.mp4')">
                            <video width="90%" height="90%" autoplay>
                                <source src="./images/left_n.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">监控点3</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div style="align-items: center;"
                            onclick="xadmin.open('详细信息','./video_detail.html?src=./images/right_n.mp4')">
                            <video width="90%" height="90%" autoplay>
                                <source src="./images/right_n.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">监控点4</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div style="align-items: center;"
                            onclick="xadmin.open('详细信息','./video_detail.html?src=./images/right_n.mp4')">
                            <video width="90%" height="90%" autoplay>
                                <source src="./images/right_n.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    </div>
    <script>
        function changeVideo(target_video) {
            document.getElementById("target_video").src = target_video;
        }
        function detail() {
            xadmin.open('详细信息','./video_detail.html?src='+document.getElementById("target_video").src)
        }
    </script>

</body>

</html>