<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详细信息</title>
</head>

<body>
    <div id="show" style="width: 90%;margin: auto;"></div>
    <script>
        var query = window.location.search;
        var src = window.location.search.substring(query.indexOf('=') + 1);
        document.getElementById("show").innerHTML = "<video autoplay width=\"90%;\"> <source src=" + src + " type=\"video/mp4\"></video>";
    </script>
</body>

</html>